.name{	
	behavior: url('css/PIE.htc');
	zoom:1;
	position: relative;
}
.name {
	background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#30000000,endColorstr=#30000000);
    zoom: 1;
}


form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea{
	padding: 14px 10px 5px;
}

.list-form-inline > li input[type="text"],
.list-form-inline > li input[type="email"],
.list-form-inline > li input[type="tel"]{
	padding: 20px 10px 5px;
}

.b-pict:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

[id^=colors-]{
	width: 30px;
	height: 30px;	
	display: block;
	position: absolute; top: 8px; right: 11px;
	z-index: 99;
}
[id^=colors-] + label .color-circle > span{
	behavior: url('css/PIE.htc');
	zoom:1;
	position: relative;
}

[id^=colors-].selected + label{
	box-shadow: 0 0 5px #228B22;
}
[id^=colors-].selected + label img{	
	border: 2px solid green;
}




[id^=house-]{
	display: block;
	position: absolute; top: 40%; left: 50%;
	width: 0;
	height: 0;
}
[id^=house-].selected + label{
	color: #FFEA76;
	background: #403934;
	border: 2px solid #403934;
}
#house-1.selected + label .i{
	background: url('../img/sprites.png') no-repeat -215px -73px;	
}
#house-2.selected + label .i{
	background: url('../img/sprites.png') no-repeat -259px -75px;
}
#house-3.selected + label .i{
	background: url('../img/sprites.png') no-repeat -300px -73px;
}



[id^=plunder-]{
	display: block;
	position: absolute; top: 40%; left: 50%;
	width: 0;
	height: 0;
}
[id^=plunder-].selected + label{
	color: #FFEA76;
	background: #403934;
	border: 2px solid #403934;
}

