@import url('fonts.css');
@import url('reset.css');
@import url('basic.css');
@import url('typography.css');
@import url('navbar.css');
@import url('header.css');

@import url('sections/section-security.css');
@import url('sections/section-main-video.css');
@import url('sections/section-video.css');



/*-------------------------------------------------*/
/* = top.begin
/*-------------------------------------------------*/

.btn-order-call {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #BBB9B9;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn-order-call:hover, 
.btn-order-call:active, 
.btn-order-call:focus {
    text-decoration: none;
    color: #815536;
    border-bottom: 1px solid #D9CCC2;
}


.b-order-call-white {
    font-size: 21px;
    color: #fff;
    border-bottom: 1px solid #7A7571;
}

.b-order-call-white:hover, 
.b-order-call-white:active, 
.b-order-call-white:focus {
    text-decoration: none;
    color: #FFEA76;
    border-bottom: 1px solid #7A6E48;
}



/*-------------------------------------------------*/
/* = top.end
/*-------------------------------------------------*/







.section-form {
    min-height: 314px;
    background: url('../img/bg/section-form.jpg') no-repeat center top;
}

.section-form .wrap {
    padding: 60px 12px;
    max-width: 1054px;
}

.section-form .wrap h2 {
    color: #FFEA76;
    font-size: 28px;
}

@media screen and (max-width: 767px) {
    
	.section-form{        
        -webkit-background-size: cover;
        background-size: cover;
    }
	
}







.wrap-adv {
    padding: 65px 12px;
    position: relative;
    min-height: 993px;
}

.wrap-adv:after {
    content: '';
    position: absolute;
    top: 220px;
    right: 10px;
    width: 685px;
    height: 693px;
    background: url('../img/bg/bg-adv.png') no-repeat 0 0;
}

.list-adv {
    max-width: 410px;
    padding-top: 10px;
}

.list-adv>li {
    font-size: 20px;
    padding-left: 47px;
    position: relative;
    margin-top: 70px;
}

.list-adv>li:first-child {
    margin-top: 20px;
}

.list-adv>li:before, .list-adv>li:first-child+li+li+li+li+li:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background: url('../img/sprites.png') no-repeat -37px -195px;
    width: 311px;
    height: 66px;
}

.list-adv>li:first-child:before {
    top: -10px;
}

.list-adv>li:first-child+li:before, .list-adv>li:first-child+li+li+li+li:before {
    top: 10px;
    background: url('../img/sprites.png') no-repeat -37px -300px;
    width: 356px;
    height: 66px;
}

.list-adv>li:first-child+li+li:before, .list-adv>li:first-child+li+li+li:before {
    top: 10px;
    background: url('../img/sprites.png') no-repeat -44px -396px;
    width: 403px;
    height: 66px;
}

@media screen and (max-width: 950px) {
    .wrap-adv:after {
        opacity: 0.1;
    }
}

@media screen and (max-width: 767px) {
    .wrap-adv:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .list-adv>li {
        margin-top: 50px;
    }
    .list-adv>li:before {
        content: '';
        position: absolute;
        top: 50%!important;
        left: 0!important;
        background: url('../img/sprites.png') no-repeat -91px -21px;
        width: 27px!important;
        height: 27px!important;
        margin-top: -14px!important;
    }
}

.b-gallery {
    position: relative;
    z-index: 1;
}

.b-gallery>ul {
    text-align: center;
    padding-top: 65px;
}

.b-gallery>ul>li {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 0 6px;
    margin-top: 25px;
}

.b-pict {
    display: block;
    position: relative;
    margin-top: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.b-pict>img {
    display: block;
    width: 100%;
}

.b-pict:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.b-pict:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    visibility: hidden;
    background: url('../img/sprites.png') no-repeat -152px -14px;
    width: 40px;
    height: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.b-pict:hover:before {
    opacity: 1;
    visibility: visible;
    box-shadow: inset 0 0 0 2px #FFEA76;
}

.b-pict:hover:after {
    opacity: 1;
    visibility: visible;
}

.b-swf {
    text-align: center;
    margin-top: 30px;
}

.b-swf-item {
    display: inline-block;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    color: #815536;
    border-bottom: 1px solid #885F42;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.b-swf-item:before {
    content: '';
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #C8B4A7;
}

.b-swf-item:hover {
    text-decoration: none;
    color: #A5A5A5;
    border-bottom: 1px solid #A5A5A5;
}

.b-swf-item:hover:before {
    background: #D5D5D5;
}

@media screen and (max-width: 979px) {
    .b-gallery>ul>li {
        width: 33.333333333333%;
    }
}

@media screen and (max-width: 767px) {
    .b-gallery>ul>li {
        width: 50%;
        margin-top: 6px;
    }
}

@media screen and (max-width: 450px) {
    .b-gallery>ul>li {
        width: 100%;
        padding: 0;
    }
}

.b-form-cost {}

.b-form-cost .wrap {
    padding: 65px 12px;
    position: relative;
}

.list-colors {
    text-align: center;
}

.list-colors>li {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 10px;
    text-align: center;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

[id^=colors-] {
    display: none;
}

[id^=colors-]+label {
    display: inline-block;
    position: relative;
}

[id^=colors-]+label img {
    display: block;
    width: 100%;
}

[id^=colors-]:checked+label {
    box-shadow: 0 0 5px #228B22;
}

[id^=colors-]+label .color-circle {
    position: absolute;
    top: -15px;
    right: -7px;
}

[id^=colors-]+label .color-circle>span {
    display: block;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#colors-1+label .color-circle>span {
    background: #fff;
}

#colors-2+label .color-circle>span {
    background: #B18848;
}

#colors-3+label .color-circle>span {
    background: #A46542;
}

#colors-4+label .color-circle>span {
    background: #6F5452;
}

[id^=colors-]+label .color-circle>span:before {
    content: '✔';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 45px;
    color: #fff;
    font-size: 30px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#colors-1+label .color-circle>span:before {
    color: #228B22;
}

[id^=colors-]:checked+label .color-circle>span:before {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[id^=colors-]+label img:hover {
    opacity: 0.7;
}

.b-form-select {
    border: 2px solid #D3CFC7;
    border-top: 0;
    max-width: 500px;
    position: relative;
    padding: 0 10px;
    margin: 90px 14px 0;
    background: #fff;
}

.b-form-select-pict {
    content: '';
    position: absolute;
    top: 245px;
    right: -120px;
    width: 640px;
    height: 459px;
    background: url('../img/bg/bg-form-2.png') no-repeat 0 0;
}

.b-form-select:before, .b-form-select:after {
    content: '';
    position: absolute;
    top: 0;
    width: 17%;
    height: 2px;
    background: #D3CFC7;
}

.b-form-select:before {
    left: 0;
}

.b-form-select:after {
    right: 0;
}

.b-house {
    position: relative;
    top: -40px;
}

.b-house>ul {
    text-align: center;
}

.b-house>ul>li {
    margin: 10px auto;
    position: relative;
}

[id^=house-] {
    display: none;
}

[id^=house-]+label {
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: #403934;
    text-transform: uppercase;
    border: 2px solid #D3CFC7;
    min-width: 250px;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
}

[id^=house-]:checked+label {
    color: #FFEA76;
    background: #403934;
    border: 2px solid #403934;
}

[id^=house-]+label .i {
    display: inline-block;
    vertical-align: middle;
    margin: -10px 15px 0;
}

#house-1+label .i {
    background: url('../img/sprites.png') no-repeat -215px -15px;
    width: 31px;
    height: 33px;
}

#house-1:checked+label .i {
    background: url('../img/sprites.png') no-repeat -215px -73px;
}

#house-2+label .i {
    background: url('../img/sprites.png') no-repeat -259px -19px;
    width: 29px;
    height: 29px;
}

#house-2:checked+label .i {
    background: url('../img/sprites.png') no-repeat -259px -75px;
}

#house-3+label .i {
    background: url('../img/sprites.png') no-repeat -300px -20px;
    width: 33px;
    height: 27px;
}

#house-3:checked+label .i {
    background: url('../img/sprites.png') no-repeat -300px -73px;
}

.number-windows {
    display: table;
    width: 100%;
    max-width: 330px;
    margin: 30px auto;
    font-size: 20px;
    color: #403934;
}

.number-windows-item {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.number-windows-item-2 {
    text-align: right;
}

.number-windows-item-2 .input_number_windows {
    width: 70px;
    height: 50px;
    border: 2px solid #D3CFC7;
    font-size: 25px;
    display: inline-block;
}

.b-plunder {
    display: table;
    width: 100%;
    max-width: 330px;
    margin: 30px auto 0 auto;
    font-size: 20px;
    color: #403934;
    table-layout: fixed;
}

.b-plunder-item {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.b-plunder-item-2 {
    text-align: right;
}

[id^=plunder-] {
    display: none;
}

[id^=plunder-]+label {
    width: 70px;
    height: 50px;
    border: 2px solid #D3CFC7;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    line-height: 46px;
}

[id^=plunder-]:checked+label {
    color: #FFEA76;
    background: #403934;
    border: 2px solid #403934;
}

@media screen and (max-width: 1000px) {
    .b-form-select-pict {
        right: 0px;
    }
}

@media screen and (max-width: 767px) {
    .list-colors>li {
        width: 50%;
    }
    .b-form-select {
        margin: 90px auto 25px auto;
    }
    .b-form-select-pict {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .list-colors>li {
        width: 100%;
        padding: 0;
        margin: 15px 0;
    }
    .b-form-select:before, .b-form-select:after {
        width: 5%;
    }
    [id^=house-]+label {
        font-size: 16px;
        padding: 0 10px;
    }
}

.bg-garant {
    min-height: 869px;
    background: url('../img/bg/bg-garant.jpg') no-repeat center top;
}

.bg-garant .wrap {
    color: #fff;
    padding: 40px 12px 40px;
}

.bg-garant .wrap .wrap770 {
    margin: 40px auto 40px auto;
}



.wrap770 .video {
    padding-bottom: 50%;
}

.list-garant {
    max-width: 770px;
    margin: 0 auto;
}

.list-garant>li {
    padding-left: 40px;
    position: relative;
    font-size: 19px;
    margin: 12px 0;
}

.list-garant>li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background: url('../img/sprites.png') no-repeat -352px -28px;
    width: 17px;
    height: 17px;
    margin-top: -9px;
}

@media screen and (max-width: 979px) {
    .bg-garant {
        min-height: 869px;
        background: url('../img/bg/bg-garant.jpg') no-repeat center top;
        -webkit-background-size: cover;
        background-size: cover;
    }
}

.bg-gray-form {
    background: #F1EDE8;
}

.bg-gray-form .wrap {
    padding: 60px 12px;
}

.bg-gray-form .wrap h2 {
    font-size: 28px;
    color: #403934;
}

.wrap-reviews {
    padding: 55px 12px;
}

.b-reviews {}

.b-reviews-inner {
    display: table;
    width: 100%;
    border: 1px solid #D3CFC7;
    margin-top: 30px;
}

.b-reviews-item {
    display: table-cell;
    vertical-align: top;
}

.b-reviews-item-1 {
    width: 215px;
    padding: 35px 25px 20px;
    text-align: center;
}

.b-reviews-pict {
    position: relative;
    padding: 0 25px 2px;
    border: 3px solid #FFEA76;
    border-top: 0;
}

.b-reviews-pict>img {
    position: relative;
    top: -10px;
    display: block;
    width: 100%;
}

.b-reviews-pict:before, .b-reviews-pict:after {
    content: '';
    position: absolute;
    top: 0;
    width: 10%;
    height: 3px;
    background: #FFEA76;
}

.b-reviews-pict:before {
    left: 0;
}

.b-reviews-pict:after {
    right: 0;
}

.b-reviews-item-2 {
    padding: 25px 25px 25px 0;
}

.b-reviews-item-2 p {
    margin: 0;
    line-height: 1.6;
}

@media screen and (max-width: 600px) {
    .b-reviews-inner {
        display: block;
        width: 100%;
    }
    .b-reviews-item {
        display: block;
        width: 100%;
        padding: 35px 25px 20px;
    }
    .b-reviews-item-1 {
        width: 215px;
        padding: 35px 10px 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {
    .b-reviews-item-2 {
        padding: 15px;
    }
}

.wrap-doubt {
    position: relative;
    padding-top: 64px;
    padding-bottom: 0;
    min-height: 686px;
}

.wrap-doubt:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    background: url('../img/women.png') no-repeat 0 0;
    width: 429px;
    height: 687px;
}

.wrap-doubt h2 {
    position: relative;
    display: block;
    max-width: 460px;
    margin: 25px auto;
    text-align: left;
}

.wrap-doubt h2:after {
    content: '';
    position: absolute;
    top: 30px;
    left: 100%;
    background: url('../img/sprites.png') no-repeat -585px -337px;
    width: 172px;
    height: 169px;
}

.b-form-doubt {
    text-align: right;
    padding-top: 100px;
}

.b-form-doubt form {
    text-align: center;
    max-width: 420px;
    display: inline-block;
    border: 3px solid #D3CFC7;
    padding: 15px 50px 0;
    position: relative;
    top: -20px;
    height: 360px;
}

.b-form-doubt form .b-form-inner {
    position: relative;
    top: -80px;
    display: block;
    width: 100%;
    width: 320px;
}

.b-form-doubt form input[type="text"], .b-form-doubt form input[type="email"], .b-form-doubt form input[type="tel"] {
    background: #F1EDE8;
}

.b-form-doubt form input[type="text"]:focus, .b-form-doubt form input[type="email"]:focus, .b-form-doubt form input[type="tel"]:focus {
    background: #fff;
}

@media screen and (max-width: 950px) {
    .wrap-doubt:before {
        opacity: 0.2;
    }
}

@media screen and (max-width: 850px) {
    .wrap-doubt h2 {
        position: relative;
        display: block;
        max-width: 850px;
        width: 100%;
        margin: 25px 0;
        text-align: right;
    }
    .wrap-doubt h2:after {
        display: none;
    }
    .b-form-doubt {
        text-align: center;
        padding-top: 100px;
    }
    .b-form-doubt form {
        background: #fff;
        height: auto;
    }
    .b-form-doubt form .b-form-inner {
        position: relative;
        top: 0px;
    }
}

@media screen and (max-width: 550px) {
    .wrap-doubt:before {
        display: none;
    }
    .b-form-doubt form {
        padding: 15px 10px 0;
    }
    .b-form-doubt form .b-form-inner {
        width: 260px;
    }
}

.bg-call {
    min-height: 277px;
    background: url('../img/bg/bg-call.jpg') no-repeat center top;
}

.bg-call .wrap {
    color: #fff;
    padding: 55px 12px;
    text-align: center;
}

.text-callme {
    font-size: 28px;
}

.text-callme span {
    font-size: 35px;
    color: #FFEA76;
    text-transform: uppercase;
    display: block;
    font-family: 'GothamPro-Bold', sans-serif;
    margin: 12px 0;
}

.text-order-call {
    font-size: 25px;
    font-family: 'GothamPro-Regular', sans-serif;
}

@media screen and (max-width: 550px) {
    .text-callme span {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .text-callme span {
        font-size: 26px;
    }
}
/*-------------------------------------------------*/
/* =  conten.end
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/* =  footer.begin
/*-------------------------------------------------*/

footer {}

.wrap-f {
    padding: 75px 12px 60px;
}

.b-footer-inner {
    display: table;
    width: 100%;
    margin-bottom: 25px;
}

.b-footer-item {
    display: table-cell;
    vertical-align: middle;
}

.b-footer-item-1 {
    width: 60%;
}

.b-footer-item-2 {
    text-align: right;
}

.b-logo-f {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding-left: 105px;
    position: relative;
    display: block;
    line-height: 1.5;
}

.b-logo-f:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 72px;
    height: 65px;
    background: url('../img/logo-f.png') no-repeat 0 0;
    margin-top: -33px;
}

.b-logo-f:hover, .b-logo-f:active, .b-logo-f:focus {
    color: #000;
    text-decoration: none;
}

.text-policy {
    margin-left: 105px;
    color: #815536;
    text-decoration: none;
    border-bottom: 1px solid #A88A74;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.text-policy:hover, .text-policy:active, .text-policy:focus {
    text-decoration: none;
    color: #9E9E9E;
    border-bottom: 1px solid #BCBCBC;
}

.create {
    display: inline-block;
    font-size: 13px;
    color: #403934;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.create>span {
    font-size: 15px;
    color: #FFEA76;
    background: #403934;
    padding: 6px 9px;
    margin-left: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.create:hover, .create:active, .create:focus {
    color: #403934;
    text-decoration: none;
}

.create:hover>span, .create:active>span, .create:focus>span {
    color: #403934;
    background: #FFEA76;
}

@media screen and (max-width: 767px) {
    .b-footer-inner {
        display: block;
        width: 100%;
    }
    .b-footer-item {
        display: block;
        width: 100%;
        text-align: center;
    }
    .b-footer-item-2 {
        margin-top: 45px;
    }
    .b-logo-f {
        padding-left: 0;
    }
    .b-logo-f:before {
        content: '';
        position: relative;
        top: 0;
        left: 0;
        width: 72px;
        height: 65px;
        background: url('../img/logo-f.png') no-repeat 0 0;
        display: block;
        margin: 0 auto;
    }
    .text-policy {
        margin-left: 0;
    }
}
/*-------------------------------------------------*/
/* =  footer.end
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/* =  preloader.begin
/*-------------------------------------------------*/

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f7f7f7;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../img/spinner.gif') no-repeat 50% 50%;
    margin: -24px 0 0 -24px;
}
/*-------------------------------------------------*/
/* =  preloader.end
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/* =  form.begin
/*-------------------------------------------------*/

.b-form-h {
    width: 524px;
    height: 526px;
    background: url('../img/bg-form.png') no-repeat 0 0;
    margin: 0 auto;
    text-align: center;
}

.b-form-h form {
    max-width: 375px;
    margin: 0 auto;
    padding: 55px 25px 10px;
}

form label {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: #403934;
    margin: 15px 0 6px;
    padding: 0;
}

.form__control, 
.form__submit {
    display: block;
    width: 100%;
    border: none;
    text-align: center;
}

.form__control {
    color: #000;
    font-size: 18px;
    height: 55px;
    padding: 5px 10px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.form__control--textarea {
    height: 100px;
    overflow: auto;
}

.form__control:focus {
    box-shadow: 0 0 0 2px #4169E1;
}

.form__control:-moz-placeholder {
    color: #888;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.form__control::-moz-placeholder {
    color: #888;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.form__control:-ms-input-placeholder {
    color: #888;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.form__control::-webkit-input-placeholder {
    color: #888;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.form__control:focus:-moz-placeholder {
    opacity: 0;
}
.form__control:focus::-moz-placeholder {
    opacity: 0;
}
.form__control:focus:-ms-input-placeholder {
    opacity: 0;
}
.form__control:focus::-webkit-input-placeholder {
    opacity: 0;
}


.form__submit {
    text-align: center;
    font-size: 30px;
    line-height: 1;
    font-family: 'GothamPro-Bold', 'Segoe UI' sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 2px 5px #CC7311;
    text-transform: uppercase;
    padding: 17px 10px;
    margin: 20px auto 15px auto;
    border-bottom: 5px solid #E14F01;
    -webkit-appearance: none;
    background: rgb(255, 169, 35);    
    background: linear-gradient(to bottom, rgba(255, 169, 35, 1) 0%, rgba(255, 138, 18, 1) 50%, rgba(255, 112, 2, 1) 100%);   
    border-radius: 40px;
    box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.2);
}

.form__submit:hover {
    border-bottom: 5px solid #E1682D;
    background: rgb(255, 196, 104);    
    background: linear-gradient(to bottom, rgba(255, 196, 104, 1) 0%, rgba(255, 169, 83, 1) 50%, rgba(255, 147, 67, 1) 100%);    
}

.form__submit:focus, .form__submit:active {
    background: #FF6F02;
}

.form__submit-2 {
    font-size: 23px;
    text-shadow: none;
    text-transform: none;
    font-weight: 400;
    color: #000;
    border-bottom: 5px solid #EBCC22;
    background: rgb(255, 234, 116);   
    background: linear-gradient(to bottom, rgba(255, 234, 116, 1) 0%, rgba(255, 228, 82, 1) 50%, rgba(255, 224, 52, 1) 100%);    
}

.form__submit-2:hover {
    border-bottom: 5px solid #EBA92A;
    background: rgb(255, 225, 60);   
    background: linear-gradient(to bottom, rgba(255, 225, 60, 1) 0%, rgba(255, 199, 60, 1) 50%, rgba(255, 174, 60, 1) 100%);    
}

.form__submit-2:focus, .form__submit-2:active {
    background: rgb(255, 174, 60);
}

.form__submit-3 {
    padding: 19px 10px;
    font-size: 25px;
    text-shadow: none;
    color: #403934;
    border-bottom: 5px solid #EBCC22;
    background: rgb(255, 234, 116);    
    background: linear-gradient(to bottom, rgba(255, 234, 116, 1) 0%, rgba(255, 228, 82, 1) 50%, rgba(255, 224, 52, 1) 100%);   
}

.form__submit-3:hover {
    border-bottom: 5px solid #EBA92A;
    background: rgb(255, 225, 60);   
    background: linear-gradient(to bottom, rgba(255, 225, 60, 1) 0%, rgba(255, 199, 60, 1) 50%, rgba(255, 174, 60, 1) 100%);   
}

.form__submit-3:focus, .form__submit-3:active {
    background: rgb(255, 174, 60);
}



form input[type="text"].error, 
form input[type="tel"].error, 
form textarea.error {
    outline: 0;
    border: 2px solid #FF261B;
}

form label.error {
    background: #FF261B;
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    text-transform: none;
}






.b-form-inline {}

.list-form-inline {
    text-align: center;
}

.list-form-inline>li {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 33.333333333333333%;
    padding: 0 15px;
}

.list-form-inline>li input[type="text"], 
.list-form-inline>li input[type="email"], 
.list-form-inline>li input[type="tel"] {
    height: 65px;
}

.list-form-inline-2 {
    margin-top: 40px;
}

.list-form-inline-2>li input[type="text"], 
.list-form-inline-2>li input[type="email"], 
.list-form-inline-2>li input[type="tel"] {
    background: #F1EDE8;
}

.list-form-inline-2>li input[type="text"]:focus, 
.list-form-inline-2>li input[type="email"]:focus, 
.list-form-inline-2>li input[type="tel"]:focus {
    background: #fff;
}

@media screen and (max-width: 767px) {
    .b-form-h {
        max-width: 415px;
        width: auto;
        height: auto;
        border: 20px solid #FAFAFC;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background: rgb(204, 204, 206);       
        background: linear-gradient(135deg, rgba(204, 204, 206, 1) 0%, rgba(222, 222, 224, 1) 50%, rgba(232, 233, 237, 1) 100%);        
    }
    .b-form-h form {
        padding: 15px 20px 10px;
        background: #FFEA76;
    }
    form label {
        font-size: 16px;
        margin: 10px 0 3px;
    }
    form input[type="text"], form input[type="email"], form input[type="tel"], form textarea, .list-form-inline>li input[type="text"], .list-form-inline>li input[type="email"], .list-form-inline>li input[type="tel"] {
        font-size: 16px;
        height: 45px;
    }
    .form__submit {
        font-size: 20px;
    }    
    .list-form-inline {
        max-width: 400px;
        margin: 0 auto;
    }
    .list-form-inline>li {
        width: 100%;
        padding: 0;
        margin: 15px 0;
    }
}




/*-------------------------------------------------*/
/* =  fancyBox v2.1.5.begin
/*-------------------------------------------------*/

.fancybox-wrap, 
.fancybox-skin, 
.fancybox-outer, 
.fancybox-inner, 
.fancybox-image, 
.fancybox-wrap iframe, 
.fancybox-wrap object, 
.fancybox-nav, 
.fancybox-nav span, 
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    color: #444;
    text-shadow: none;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {}

.fancybox-outer, 
.fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, 
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, 
.fancybox-close, 
.fancybox-prev span, 
.fancybox-next span {
    background-image: url('../fancybox/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -10px;
    right: -25px;
    width: 20px;
    height: 20px;
    background: none;
    cursor: pointer;
    z-index: 8040;
    text-decoration: none;
}

.fancybox-close:after {
    content: 'x';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'CenturyGothic-Regular', 'Segoe UI' sans-serif;
}

.fancybox-close:hover:after {
    color: #f00;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../fancybox/blank.gif');
    /* helps IE */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}


/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}


/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
    color: #fff;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, .8);    
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}


/*Retina graphics!*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading, 
	.fancybox-prev span, 
	.fancybox-next span {
        background-image: url('../fancybox/fancybox_sprite@2x.png');
        background-size: 44px 152px;
        /*The size of the normal image, half the size of the hi-res image*/
    }
    .fancybox-close {
        position: absolute;
        top: -10px;
        right: -25px;
        width: 20px;
        height: 20px;
        background: none;
        cursor: pointer;
        z-index: 8040;
    }
    .fancybox-close:after {
        content: 'x';
        position: absolute;
        top: 0;
        right: 0;
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'CenturyGothic-Regular', 'Segoe UI' sans-serif;
    }
    #fancybox-loading div {
        background-image: url('../fancybox/fancybox_loading@2x.gif');
        background-size: 24px 24px;
        /*The size of the normal image, half the size of the hi-res image*/
    }
}

@media screen and (max-width: 767px) {
    .fancybox-close {
        top: 25px;
        right: 20px;
    }
    .fancybox-close:after {
        color: #000;
    }
}

#fancybox-thumbs {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 8050;
}

#fancybox-thumbs.bottom {
    bottom: 2px;
}

#fancybox-thumbs.top {
    top: 2px;
}

#fancybox-thumbs ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

#fancybox-thumbs ul li {
    float: left;
    padding: 1px;
    opacity: 0.5;
}

#fancybox-thumbs ul li.active {
    opacity: 0.75;
    padding: 0;
    border: 1px solid #f00;
}

#fancybox-thumbs ul li:hover {
    opacity: 1;
}

#fancybox-thumbs ul li a {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #222;
    background: #111;
    outline: none;
}

#fancybox-thumbs ul li img {
    display: block;
    position: relative;
    border: 0;
    padding: 0;
    max-width: none;
}

.modal {
    display: none;
    text-align: center;
    background: #fff;
    color: #000;
}

[id^=popup-app] {
    padding: 45px;
}

.b-modal-app {
    border: 3px solid #D3CFC7;
}

.b-modal-app h3 {
    font-size: 30px;
    color: #403934;
    text-transform: uppercase;
    font-weight: 400;
    background: #fff;
    padding: 0 6% 5px;
    margin-top: -40px;
    display: inline-block;
    position: relative;
    top: -7px;
}

.b-modal-app form {
    max-width: 320px;
    margin: 0 auto;
    padding: 15px 15px 30px;
}

.b-modal-app form input[type="text"], 
.b-modal-app form input[type="email"], 
.b-modal-app form input[type="tel"] {
    background: #F1EDE8;
}

.b-modal-app form input[type="text"]:focus, 
.b-modal-app form input[type="email"]:focus, 
.b-modal-app form input[type="tel"]:focus {
    background: #fff;
}

.b-modal-policy {
    font-size: 15px;
    line-height: 1.5;
    padding: 70px 50px 65px;
}

.b-modal-policy h3 {
    text-align: center;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 30px;
}

.b-modal-policy h3 span {
    display: block;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Segoe UI' sans-serif;
    line-height: 1;
}

.b-modal-policy-text {
    text-align: left;
}



[id^=thnks] {
    display: none;
    text-align: center;
    background: #fff;
    width: 100%;
    padding: 55px 10% 85px;
    background: url('../img/bg/bg-thanks.jpg') no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}

[id^=thnks] h3, 
[id^=thnks] p.subthanks {
    width: 100%;
    text-align: left!important;
    max-width: 250px;
    margin: 0 auto;
}

[id^=thnks] h3 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Segoe UI' sans-serif;
    margin: 20px auto 35px auto;
    font-weight: 400;
}

[id^=thnks] h3>span {
    display: block;
    font-size: 21px;
}

[id^=thnks] p {
    font-size: 21px;
}

@media screen and (max-width: 767px) {
    .b-modal-app h3 {
        padding: 25px 1% 5px;
        margin-top: 0;
        position: relative;
        top: 0;
        font-size: 24px;
    }
    .b-modal-policy {
        padding: 50px 35px 35px;
    }
    .b-modal-policy h3 {
        font-size: 24px;
    }
    .b-modal-policy h3 span {
        font-size: 24px;
        line-height: 1;
    }
}

@media screen and (max-width: 500px) {
    [id^=popup-app] {
        padding: 15px;
    }
    .b-modal-policy {
        padding: 25px 15px 25px;
    }
    [id^=thnks] {
        padding: 25px 25px 25px;
    }
    [id^=thnks] h3 {
        font-size: 30px;
        margin: 20px auto 25px auto;
    }
    [id^=thnks] h3>span, [id^=thnks] p {
        font-size: 18px;
    }
    .b-modal-policy {
        font-size: 14px;
        line-height: 1.333;
    }
    .b-modal-policy h3 {
        font-size: 18px;
    }
    .b-modal-policy h3 span {
        font-size: 22px;
    }
}

@media screen and (max-width: 400px) {
    [id^=popup-app] {
        padding: 5px;
    }
    [id^=thnks] {
        padding: 15px 10px 25px;
    }
    [id^=thnks] h3>span, [id^=thnks] p {
        font-size: 16px;
    }
}
